#veriff-root {
  max-width: 400px;
}

.veriff-container {
  min-width: 208px;
}

.veriff-label {
  display: none;
  box-sizing: border-box;
  margin-bottom: 8px;
  color: #505366;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.veriff-text {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 0 0 16px;
  border-radius: 4px;
  border: 1px solid #e6ebf4;
  font-size: 16px;
  background-color: #fafafc;
  color: #222328;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color, border-color, box-shadow, transform;
}

.veriff-text::placeholder {
  color: #bdc0cf;
}

.veriff-text:hover {
  border-color: #bdc0cf;
}

.veriff-text:focus {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(34, 35, 40, 0.08);
  transform: translateY(-2px);
}

.veriff-submit {
  width: 100%;
  background-color: #004e5f;
  color: white;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.4px;

  display: inline-block;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;

  position: relative;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color, border-color, box-shadow, transform;
  cursor: pointer;
}

.veriff-submit:hover,
.veriff-submit:focus {
  transform: translateY(-2px);
}

.veriff-description {
  color: #505366;
  font-size: 12px;
  line-height: 16px;
  margin: 16px 0;
  text-align: center;
}

.veriff-description a {
  font-weight: 400;
  font-size: 12px;
  color: #006379;
}
